<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>knapsack2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>008AFA4B1EC511760088345F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>008AFA5F1EC511760088345F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>008AFA6A1EC511760088345F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
